Week3/flows.json
[
    {
        "id": "b8d3c2c48aa06bb3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "22a813ee4c0423f3",
        "type": "inject",
        "z": "b8d3c2c48aa06bb3",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "6aa7dcea5efacf65"
            ]
        ]
    },
    {
        "id": "6aa7dcea5efacf65",
        "type": "websocket out",
        "z": "b8d3c2c48aa06bb3",
        "d": true,
        "name": "",
        "server": "8f9682700f17439a",
        "client": "",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "d8be8dc04d1b9072",
        "type": "tcp in",
        "z": "b8d3c2c48aa06bb3",
        "d": true,
        "name": "",
        "server": "server",
        "host": "",
        "port": "8080",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\r\\n",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "7c4d1a9a7de91ad4",
                "52088dd6e095b374"
            ]
        ]
    },
    {
        "id": "7c4d1a9a7de91ad4",
        "type": "debug",
        "z": "b8d3c2c48aa06bb3",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 280,
        "wires": []
    },
    {
        "id": "52088dd6e095b374",
        "type": "websocket out",
        "z": "b8d3c2c48aa06bb3",
        "name": "",
        "server": "8f9682700f17439a",
        "client": "",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "16b3ddc3d5571de4",
        "type": "udp in",
        "z": "b8d3c2c48aa06bb3",
        "d": true,
        "name": "",
        "iface": "",
        "port": "1880",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "6793e3aa993c0b59"
            ]
        ]
    },
    {
        "id": "6793e3aa993c0b59",
        "type": "debug",
        "z": "b8d3c2c48aa06bb3",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "0a2f6a8c7cdc4b60",
        "type": "udp in",
        "z": "b8d3c2c48aa06bb3",
        "name": "",
        "iface": "",
        "port": "8080",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "7c4d1a9a7de91ad4",
                "52088dd6e095b374"
            ]
        ]
    },
    {
        "id": "8f9682700f17439a",
        "type": "websocket-listener",
        "path": "/testpage",
        "wholemsg": "false"
    }
]